@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Roboto:wght@300;400;500;700;900&display=swap"' );
/*Variables*/
$main-color: #f72210;
$gray-color:rgb(87, 84, 84 , 0.3);
$article-color:rgb(87, 84, 84 , 0.4);
$bold-gray:rgb(87, 84, 84 , 0.6);
/*Mixin*/
@mixin link-details {
    font-family:"Roboto Condensed";
    font-weight: 700;
    text-decoration: none;
    color: black !important;
}
@mixin container-details {
    padding-top:15px ;
    display: flex;
}
@mixin images {
    width: 150px;
    height: 150px;
}

/*Home Styles*/

.header {
    background-color: $main-color;
    color: #fff;
    height: 95px;
    padding: 5px 10px ;
}
.right {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}
.header .logo .logo-name {
    font-family:Roboto;
    font-weight: 900;
    text-align: center;
    padding-top: 12px;
}
.sign, .subscribe {
    text-decoration: none;
    padding: 5px;
    color: white !important;
    font-family:fantasy;
    margin-top: 49px;
}
.subscribe {
    background-color: #fff;
    color: $main-color !important;
}
.form-inline input[type=search] {
    position: absolute;
    width: 10%;
    right: 16px;
    top: 12px;
    border: none;
    transition: width 0.7s ease;
}
.navbar-collapse {
    border-bottom: 1px solid $gray-color;
    padding-bottom: 5px;
}
.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $main-color;
    transform: scaleY(0);
    z-index: -1;
    transform-origin: 50% 0;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-property: transform;
}
.navbar-nav .nav-link {
    position: relative;
    color: black !important;
    font-weight: 500;
}
.navbar-nav .nav-link:hover::before , .nav-link:focus , .nav-link:active{
    transform: scaleY(1);
    color: white !important;
}
.navbar-nav a:not(:last-child) {
    border-right: 1px solid $gray-color;
}


.form-inline input[type=search]:focus {
    width: 100%;
    outline: none;
}
.date {
    margin-left: 30px;
}
.nav-link {
    padding-right: -10px;
    padding-left: -10px;
}

/*games-articles*/

.new-image {
    width: 275px;
    height: 275px;
}
.link-name {
    @include link-details;
    // font-size: 20px;
    font-size: 17px;
}
.header-link {
    @include link-details;
    font-size: 20px !important;
}
.link-name:hover {
    border-bottom: 2px solid $main-color ;
}
.newgames-container {
    width: 275px;
    text-align: justify;
    margin-bottom: 20px;
}
.newgames-p {
    line-height: 20px;
}
.article-header {
    color: $article-color;
    font-weight: bold;
    padding: 0 8px;
    text-align: left;
}

/*Top Story*/

.top-image{
    max-width: 500px;
    height: 290px;
}
/*BEST IMAGES*/
.best-images {
    @include images;
}
.best-row {
    display: flex;
    flex-wrap: wrap;
}
.bestGames-p {
    line-height: 1.5rem;
    color: $gray-color;
    font-family: sans-serif;
    padding-bottom: 25px;
}

/*Adver area*/

.adver-content {
    border-bottom: 1px solid $gray-color;
    border-right:  1px solid $gray-color ;
    border-left: 1px solid $gray-color;
    padding: 10px;
}
/*More GAMES */

.moregames-container {
    @include container-details;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-color;
}
.info {
    padding: 5px;
}
.more-images {
    @include images;
}

/*Opinion*/

.opinion-images {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.opinion-container {
    display: flex;
    gap: 3px;
    padding: 10px;
}
.writer-name {
    padding: 3px;
    color: $bold-gray;
}
.opinion-link {
    @include link-details;
    font-size: 15px;
}
.opinion-link:hover {
    color: $main-color !important;
}

/*Latest*/
.latest-container {
    @include container-details;
    padding: 10px;
    font-family: sans-serif;
    gap: 9px;
}
.latest-container:not(:last-child) {
    border-bottom: 1px solid $gray-color;
}
.latest-images {
    @include images;
}

/*Media Query*/

@media only screen and (max-width:992px) {
    /*Header*/
    .header {
        height: 50px;
    }
    .header .logo .logo-name{
        font-size: 12px;
    }
    // .header-toggle {
        // position: absolute;
        // bottom: 20px;
        // right: 2px;
        // left:-10px;
    // }
    .right {
        position: absolute;
        right: 75px;
        display: inline;
        font-size: 10px;
        top:15px;
    }
    .nav-link {
        padding: 0;
    }
    .left {
        text-align: right;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .logo-name {
        position: absolute;
        left: 0;
        font-size: 20px;
    }
    .city {
        display: none;
    }
    .article-header {
        padding: 0;
        font-size: 10px;
        margin-bottom: 0 !important;
    }
    /*Games News*/
    .newgames-container , .topStory-container , .bestgames-container , .bestmmo-container{
        margin: 15px;
    }
    /*Top Story*/
    .top-image {
        width: 270px;
        height: auto;
    }
        /*Images start*/
        .new-image   {
            max-width: 100%;
            height: auto;
        }
        .best-images {
        width: 250px;
        height: auto;
        }
        .more-images , .latest-images{
            height: auto;
        }
        /*Images End*/
}